<footer class="footer">
  <a href="#top-of-page">
    <img src="./assets/images/ico-arrow.svg" alt="Ir a inicio" />
  </a>
  <div class="footer__container">
    <div class="footer__copyright">
      <small>&copy; Todos los derechos reservados</small>
      <p>I <small>❤︎</small> components</p>
    </div>

    <div class="footer__nav-container">
      <nav class="nav-to-navegation">
        <ul>
          <li>
            <a href="https://medium.com/adalab">Article</a>
          </li>
          <li>
            <a href="https://adalab.es/empresas/">Books</a>
          </li>
          <li>
            <a href="https://adalab.es/cursos-desarrollo-web/">Events</a>
          </li>
          <li>
            <a href="https://adalab.es/contacto-inscribete/">Reasons</a>
          </li>
          <li>
            <a href="https://adalab.es/equipo/">Tips</a>
          </li>
        </ul>
      </nav>
      <nav class="nav-to-social-networks">
        <ul>
          <li>
            <a href="https://www.facebook.com/AdalabDigital/">Twitter</a>
          </li>
          <li>
            <a href="https://www.instagram.com/adalab_digital/">Instagram</a>
          </li>
          <li>
            <a href="https://adalab.es/cursos-programacion-madrid/"
              >Mastodon.Social</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
