<main class="main">
  <section class="section-one">
    <small class="section-one__small">Imsomnia Tips</small>
    <h2 class="section-one__title">Looking through a window</h2>
    <p class="section-one__paragraph">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <div class="section-one__button-go">
      <a
        class="section-one__button-go-link"
        href="https://adalab.es/cursos-desarrollo-web/"
        >Go</a
      >
    </div>
  </section>
  <section class="section-two">
    <h2 id="reasons-to-purchase" class="section-two__title">
      3 Reasons to purchase
    </h2>
    <div class="section-two__grid-container">
      <div class="section-two__ut-sed-metus">
        <h3 class="section-two__sub-title">Ut sed metus</h3>
        <p class="section-two__reasons">
          Lorem ipsum dolor sit amet, consecteur.
        </p>
      </div>
      <div class="section-two__curabitur-ac-erat">
        <h3 class="section-two__sub-title">Curabitur ac erat</h3>
        <p class="section-two__reasons">
          Mauris mattis urna quis lorem molestie.
        </p>
      </div>
      <div class="section-two__morbi-dictum">
        <h3 class="section-two__sub-title">Morbi dictum</h3>
        <p class="section-two__reasons">Aliquam in dolor et dolor tincidunt.</p>
      </div>
    </div>
    <button class="section-two__button">More reasons</button>
  </section>
</main>
