<main class="main">
  <section class="section-one">
    <small>Imsomnia Tips</small>
    <h2>Looking through a window</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis
      tempora, voluptates illum corporis consequatur modi excepturi? A officiis
      vero aut!
    </p>
    <a href="https://adalab.es/cursos-desarrollo-web/">Go</a>
  </section>
  <section class="section-two">
    <h2 id="reasons-to-purchase">Reasons to purchase</h2>
    <div>
      <div>
        <h3>Ut sed metus</h3>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
      </div>
      <div>
        <h3>Curabitur ac erat</h3>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
      </div>
      <div>
        <h3>Morbi dictum</h3>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
      </div>
    </div>
    <button>More reasons</button>
  </section>
</main>
