// fonts

// colors

$color-secondary: #999;

/* __________mis variables */
$background: "../images/cover.jpg";
$font-titles: "Roboto Slab", serif;
$font-main: "Roboto", sans-serif;
$color-white: #ffffff;
