.footer {
  background-color: #304268;
  position: relative;
  top: 0;
  left: 0;

  &__boton-to-header {
    width: 45px;
    height: 45px;
    background-color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -22.5px; /* padding de footer mas mitad del diametro */
    transform: translateX(
      -22.5px
    ); /* division del diametro del circulo entre dos */
    animation: movement infinite 3s;
    @keyframes movement {
      0% {
        top: -41.5px;
      }
      50% {
        top: -22.5px;
      }
      100% {
        top: -41.5px;
      }
    }
  }
  &__container {
    color: white;
    text-align: center;
    padding: 60px 0 45px 0;
    height: 465px;
    font-weight: 300;
    @media all and (min-width: 768px) {
      text-align: left;
      padding: 45px 0;
      height: 240px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
    }
    @media all and (min-width: 1200px) {
      padding: 45px 370px;
    }
  }

  &__nav-to-navegation {
    margin-bottom: 30px;
  }

  &__link {
    font-family: $font-main;
    line-height: 1.88;
    color: $color-white;
    text-transform: uppercase;
  }
  &__copyright {
    font-family: $font-main;
    font-size: 14px;
    line-height: 2.14;
    color: $color-white;
    @media all and (min-width: 1200px) {
      width: 153px;
    }
  }
  &__copyright__love {
    text-transform: lowercase;
  }
  &__copyright-heart {
    color: #f26002;
  }
  &__nav-container {
    @media all and (min-width: 768px) {
      width: 500px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    @media all and (min-width: 1200px) {
      width: 352px; /* sumatoria de los dos componentes mas el margen entre ellos */
    }
  }
}
