.section-one {
  background-color: #fafafa;
  padding: 30px 15px 45px 15px;

  @media all and (min-width: 768px) {
    padding: 30px 39px 60px 39px;
  }
  @media all and (min-width: 1200px) {
    padding: 60px 275px;
  }
  &__small {
    width: 90px;
    height: 30px;
    font-family: $font-main;
    font-size: 14px;
    line-height: 2.14;
    color: #8ccbea;
    @media all and (min-width: 1200px) {
      font-size: 16px;
    }
  }
  &__title {
    width: 290px;
    font-family: $font-titles;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    color: #000000;
    margin-bottom: 15px;

    @media all and (min-width: 768px) {
      width: 690px;
      font-size: 26px;
      line-height: 1.73;
    }
    @media all and (min-width: 1200px) {
      font-size: 32px;
      line-height: 1.41;
    }
  }
  &__paragraph {
    font-family: $font-main;
    font-size: 18px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #4a4a4a;
    @media all and (min-width: 1200px) {
      font-size: 20px;
      line-height: 1.5;
      width: 730px;
    }
  }
  &__button-go {
    width: 76px;
    height: 45px;
    border-radius: 22.5px;
    border: solid #f26002 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    transition: all ease 1s;

    @media all and (min-width: 768px) {
      width: 91px;
    }
    @media all and (min-width: 1200px) {
      width: 160px;
      &:hover {
        border: solid #0271bc 3px;
        background-color: #eff9ff;
        width: 200px;
      }
    }
  }
  &__button-go-link {
    font-family: $font-main;
    font-size: 20px;
    line-height: 2.25;
    color: #f26002;
    padding: 0 50px;
  }
}
/* ___________________________________________ */

.section-two {
  background-color: #eff9ff;
  width: 100%;
  height: 624px;
  text-align: center;
  @media all and (min-width: 768px) {
    height: 397px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media all and (min-width: 1200px) {
    height: 427px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: $font-titles;
    line-height: 1.25;
    padding: 30px 15px 45px 15px;
    transition: ease-in-out 1.5s all;

    @media all and (min-width: 768px) {
      font-size: 26px;
      line-height: 1.73;
    }
    @media all and (min-width: 1200px) {
      font-size: 32px;
      line-height: 1.41;
      &:hover {
        color: #0271bc;
      }
    }
  }
  &__grid-container {
    display: grid;
    grid-template-columns: auto 184px auto;
    grid-template-rows: 3;
    text-align: center;

    @media all and (min-width: 768px) {
      grid-template-columns: 212.3px 212.3px 212.3px;
      grid-template-rows: 3;
      grid-column-gap: 27.7px;
    }
    @media all and (min-width: 1200px) {
      grid-template-columns: 350px 350px 350px;
      grid-template-rows: 3;
      grid-column-gap: 27.7px;
    }
  }
  &__ut-sed-metus {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    @media all and (min-width: 768px) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }

  &__curabitur-ac-erat {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    @media all and (min-width: 768px) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }
  &__morbi-dictum {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    @media all and (min-width: 768px) {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }
  }
  &__sub-title {
    font-family: $font-titles;
    font-size: 18px;
    line-height: 1.67;
    height: 30px;
    @media all and (min-width: 768px) {
      margin-bottom: 14px;
    }
    @media all and (min-width: 1200px) {
      font-size: 24px;
      line-height: 1.25;
    }
  }
  &__reasons {
    font-family: $font-main;
    font-size: 18px;
    line-height: 1.67;
    font-weight: 450;
    padding-bottom: 45px;
    color: #000000;
    @media all and (min-width: 768px) {
      height: 68px;
      font-size: 20px;
      line-height: 1.5;
    }
  }
  &__button {
    width: 184px;
    border-radius: 22.5px;
    background-color: #f26002;
    border: none;
    color: $color-white;
    font-family: $font-main;
    font-size: 20px;
    line-height: 2.25;

    @media all and (min-width: 768px) {
      margin-top: 60px;
    }
    @media all and (min-width: 768px) {
      width: 255px;
    }
  }
}
