.main {
  background-color: cadetblue;
}
.section-one {
  background-color: #fafafa;
  padding: 30px 15px 45px 15px;
  height: 376px;
  &__small {
    width: 90px;
    height: 30px;
    font-family: $font-main;
    font-size: 14px;
    line-height: 2.14;
    color: #8ccbea;
  }
  &__title {
    width: 290px;
    height: 60px;
    font-family: $font-titles;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    color: #000000;
    margin-bottom: 15px;
  }
  &__paragraph {
    height: 120px;
    font-family: $font-main;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #4a4a4a;
  }
  &__button-go {
    width: 76px;
    height: 45px;
    border-radius: 22.5px;
    border: solid #f26002 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  &__button-go-link {
    font-family: $font-main;
    font-size: 20px;
    line-height: 2.25;
    color: #f26002;
  }
}
.section-two {
  background-color: #eff9ff;
  width: 100%;
  height: 624px;
  text-align: center;

  &__title {
    font-family: $font-titles;
    line-height: 1.25;

    padding: 30px 15px 45px 15px;
  }
  &__grid-container {
    display: grid;
    grid-template-columns: auto 184px auto;
    grid-template-rows: 3;
    text-align: center;
  }
  &__ut-sed-metus {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  &__curabitur-ac-erat {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  &__morbi-dictum {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  &__sub-title {
    font-family: $font-titles;
    font-size: 18px;
    line-height: 1.67;
    height: 30px;
  }
  &__reasons {
    font-family: $font-main;
    font-size: 18px;
    line-height: 1.67;
    padding-bottom: 45px;
    color: #000000;
  }
  &__button {
    width: 184px;
    border-radius: 22.5px;
    background-color: #f26002;
    border: none;
    color: $color-white;
    font-family: $font-main;
    font-size: 20px;
    line-height: 2.25;
  }
}
